@keyframes open {
    from {
        width: 56px;
    }
    to {
        width: 208px;
    }
}

@keyframes close {
    from {
        width: 208px;
    }
    to {
        width: 56px;
    }
}

@layer utilities {.opened {
    animation: open .5s forwards;
}}

@layer utilities {.closed {
    animation: close .5s forwards;
}}